@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 992px) {
    main {
        margin: auto;
        padding: 0px;
        border-radius: 0px;
    }
   
    img {
        border-radius: 0px;
    }
    
    h1, p, h2, .ingredients, .instructions, .nutrition, .timeprep {
        margin-left: 35px;
        margin-right: 35px;
    }
}