@media screen and (min-width:746px) and (max-width:2560px) {
    body {
        min-height: 100vh;
    }
    main {
        box-shadow: 20px 20px 20px hsla(241, 100%, 89%, 0.212);
        border-radius: 32px;
        flex-flow: row nowrap;
        background-color: white;
    }

    #result-cont {
        width: 368px;
        height: 512px;
        border-radius: 32px;
    }

    h3#result-title {
        font-size: 24px;
        padding-top: 24px;
    }
    #result-circle {
        width: 200px;
        height: 200px;
        margin: 50px 0px;
    }

    #result-numerator {
        font-size: 72px;
    }
    
    #result-denominator {
        font-size: 18px;
    }
    
    #result-comment-cont {
        height: 134px;
        padding-bottom: 46px;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    
    #result-comment {
        text-align: center;
        font-size: 18px;
    }

    #summary-title {
        font-size: 24px;
        padding-top: 38px;
        padding-bottom: 28px;
        text-indent: 50px;
    }

    .summary-item {
        width: 288px;
    }

    #icon-reaction {
        width: 20px;
        height: 20px;
    }

    #icon-memory {
        width: 20px;
        height: 20px;
    }

    #icon-verbal {
        width: 20px;
        height: 20px;
    }

    #icon-visual {
        width: 20px;
        height: 20px;
    }

    .category-pair {
        font-size: 18px;
    }
    

    .score-numerator {
        font-size: 18px;
        padding-right: 8px;
    }
    
    .score-denominator {
        font-size: 18px;
        padding-right: 16px;
    }

    a {
        width: 288px;
        margin-top: 30px;
    }
}