@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}


body {
    background-color: var(--off-black);
    font-family: Inter;
    font-size: 1em;
    color: var(--white);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > img {
    display: block;
    margin: auto;
    width: 90px;
    padding: 25px 0px;
    border-radius: 50%;
}
main {
    background-color: var(--dark-grey);
    width: 390px;
    height: 630px;
    border-radius: 15px;
}

p {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
}

main > p#city {
    font-size: 1em;
    color: var(--green);
    font-weight: 700;
    margin-bottom: 30px;
    
}

main > section > ul {
    text-align: center;
    list-style-type: none;
}

li > a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 15px auto;
    width: 80%;
    height: 50px;
}

li > a:hover {
    background-color: var(--green);
    cursor: url(assets/images/black-pointer.png), auto;
    color: black;
}

