@media screen and (min-width: 610px) and (max-width: 2560px) {
    main {
        width: 600px;
        height: 450px;
        display: flex;
        flex-flow: row nowrap;
    }

    #perfume-img {
        width: 300px;
        height: 450px;
        background: url(images/image-product-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    #content-container {
        width: 300px;
        padding: 32px;
    }

    #content {
        width: 237px;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
    }

    h3 {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 24px;
    }

    #product-descr {
        margin-bottom: 29px;
    }

    #sale-price {
        margin-bottom: 32px;
    }

    .ad-to-card-btn {
        width: 236px;
    }
}