@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --soft-blue: hsl(215, 52%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-heading: 600 1.38rem "Outfit", sans-serif;
    --font-body: 300 1.125rem/26px "Outfit", sans-serif;
    --font-caption: 400 0.9375rem "Outfit", sans-serif;
    --font-caption-bold: 400 0.9375rem "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue-main-BG);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--very-dark-blue-card-BG);
    border-radius: 15px;
    width: 327px;
    height: 543px;
}

#full-info-container {
    padding: 24px;
    display: flex;
    flex-flow: column nowrap;
}

.img-wrapper {
    height: 283px;
    margin-bottom: 24px;
    position: relative;
}

#eth-img {
    background: url(images/image-equilibrium.jpg) no-repeat;
    border-radius: 8px;
    background-size: cover;
    height: 278px;
    display: block;
}

#view-content {
    width: 100%;
    height: 279px;
    border-radius: 8px;
    top: 0;
    left: 0;
    background-color: hsla(178, 100%, 50%, 0.486);
    opacity: 0;
    transition: .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#view-content:hover {
    opacity: 1;
}

#view-link {
    background-image: url(images/icon-view.svg);
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
}

h1 {
    font: var(--font-heading);
    color: var(--white);
    margin-bottom: 12px;
}

#title {
    text-decoration: none;
}

#title:visited,{
    color: var(--white);
}

#title:active {
    color: var(--white);
}

#title:hover {
    color: var(--cyan);
}

#collection-descr {
    font: var(--font-body);
    color: var(--soft-blue);
}

#timemoney-breakdown {
    width: 278px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}

#etherium-items {
    display: flex;
    align-items: center;
}

#eth-icon {
    height: 18px;
}
#eth-left {
    font: var(--font-caption);
    color: var(--cyan);
    
}

#time-items {
    display: flex;
    align-items: center;
}

#clock-icon {
    height: 16px;
}

#days-left {
    font: var(--font-caption-bold );
    color: var(--soft-blue);
    
}

.icon {
    margin-right: 6px;
}

#division {
    border: 1px solid var(--very-dark-blue-line);
}

#info-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 16px;
}

#creator-photo {
    background: url(images/image-avatar.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    border: 1px solid var(--white);
    margin-right: 16px;
}

.author {
    font: var(--font-body);
    color: var(--soft-blue);
}

#author-name {
    color: var(--white);
    text-decoration: none;
}

#author-name:hover {
    color: var(--cyan);
}




