/* tablets */

@media screen and (max-width: 1366px) {

    .hero-img {
        left: 18%;
    }
}

@media screen and (max-width: 1280px) {

    header {
        background-position: -24% 32%, 109% 83%;
    }

    .header-text h1 {
        width: 45%;
    }

    .hero-img {
        top: 78%;
        left: 19%;
    }
}


@media screen and (max-width: 1024px) {

    .features-flex-container {
        padding-top: 12rem;
        padding-bottom: 3rem;
        display: block;
    }

    .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0rem;
        margin: 2rem auto;
        width: 70%;
    }

    .feature-number {
        width: 100px;
        height: 56px;
        border: 1px solid var(--color-purple-500);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        margin-top: 3rem;
    }

    .feature h2 {
        margin-bottom: 1rem;
    }

    header {
        background-position: -32% 32%, 111% 83%;
    }

    .header-text h1 {
        width: 55%;
    }

    .hero-img {
        width: 550px;
        left: 19%;
    }

    .founder-img {
        width: 280px;
        height: 280px;
        margin-right: -28.5rem;
        margin-top: -37rem;
    }

    .access-card {
        width: 510px;
        height: 410px;
    }

    .access-card-content h2 {
        font-size: 44px;
    }

    .access-card-content p {
        font-size: 16px;
    }

    .founder-circles {
        top: 73%;
        left: 52%;
    }

}

/* smartphones */

@media screen and (max-width: 932px) {

    .header-text h1 {
        font-size: 60px;
        width: 50%;
    }

    .hero-img {
        width: 600px;
        top: 82%;
        left: 16%;
    }
}

@media screen and (max-width: 844px) {

    .header-text h1 {
        width: 54%;
    }

    #founder {
        margin-top: 23rem;
    }

    .founder-flex-container {
        flex-direction: column;
    }

    .founder-img {
    width: 300px;
    height: 300px;
    margin-right: 0rem;
    margin-top: -12rem;
}

    .access-card {
        width: 60%;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 8rem;
        margin-top: -2rem;
    }

    .access-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 2rem;
    }

    .access-card-content h2 {
        font-size: 32px;
        padding-bottom: 2rem;
    }

    .access-card-content p {
        text-align: center;
        width: 270px;
}

    .founder-circles {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    header {
        height: 500px;
        background-position: -57% 32%, 114% 83%;
    }

    .header-text h1 {
        width: 60%;
    }

    .hero-img {
        width: 350px;
        top: 93%;
        left: 21%;
    }

}

@media screen and (max-width: 767px) {
    #features {
        height: 100%;
        background-color: var(--color-purple-100);
        position: relative;
        margin-top: 1rem;
    }

    .features-fill {
        fill: var(--color-purple-100);
    }

    .features-flex-container {
        padding-top: 17rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature {
        display: block;
        text-align: center;
        padding: 0rem;
    }

    .feature-number {
        width: 56px;
        height: 56px;
        border: 1px solid var(--color-purple-500);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem auto 2rem auto;
    }

    .feature-number p {
        font-size: 16px;
    }

    .feature h2 {
        font-size: 28px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {

    header {
        height: 400px;
        background-image: none;
    }

    .header-text h1 {
        font-size: 48px;
        width: 71%;
    }

    .hero-img {
        width: 400px;
        top: 96%;
        left: 15%;
    }
}

@media screen and (max-width: 450px) {

    header {
        background-image: none;
    }

    .header-text h1 {
        width: 100%;
    }

    .hero-img {
        width: 300px;
        left: 17%;
    }

    .features-flex-container {
        padding-top: 12rem;
    }

    .access-card {
        width: 90%;
    }

}

@media screen and (max-width: 390px) {

    .header-text h1 {
        font-size: 40px;
    }

    .hero-img {
        width: 300px;
        left: 12%;
    }

    .access-card {
        width: 100%;
    }

    .access-card-content h2 {
        font-size: 30px;
    }

    .founder-img {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 320px) {

    .hero-img {
        width: 280px;
        left: 11%;
    }
}